.App {
  max-width: 760px;
  margin: 0 auto;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}
h1 {
  font-family: "Oleo Script Swash Caps", cursive;
  display: block;
  margin: 30px 0;
  text-align: center;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
.text {
  font-size: 10px;
  text-align: center;
}

.App-header {
  margin: 30px 0;
}
@media (max-width: 576px) {
  .App {
    margin-left: 90px;
    margin-right: 10px;
    font-size: 10px;
    text-align: right;
  }
}
